.firstheading {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
p {
    color:blueviolet;
}
.lorem {
    display: inline;
    margin: 20px;
    padding: 10px;
    border: solid;
    color: deeppink;
    font-family: monospace;
    font-style: italic;
    font-size: 12px;
    font-weight: 900;
    text-transform: capitalize;
    text-decoration: double;
    line-height: 20%;
    letter-spacing: normal;
    text-align: center;
    text-shadow: black;
    text-indent:initial;
}
div {
    color: black;
    height: 50px;
    border: solid;
    overflow: scroll;
    margin: 10px;
    text-align: center;
    background-color: yellowgreen;
}
h2 {
    color: bisque;
    background-color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
span {
    visibility: hidden;
}